<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersonMgr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC5625901E65C06B00BD93EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC5625A41E65C06B00BD93EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC5625AF1E65C06B00BD93EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
